<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Comment</title>
</head>
<body>
    <h1> Comments Id : <%= comment.id %></h1>
    <h3> <%= comment.text %> - <%= comment.username %> </h3>
    <a href="/comments">Back</a>
</body>
</html>